<h2>Registro</h2>

<form [formGroup]="form" (ngSubmit)="registrar()">
  <div>
    <label>Nombre</label>
    <input type="text" formControlName="nombre" />
  </div>
  <div>
    <label>Correo institucional</label>
    <input type="email" formControlName="email" />
  </div>
  <div>
    <label>Contrasena</label>
    <input type="password" formControlName="password" />
  </div>
  <button class="btn" type="submit">Registrarme</button>
</form>

<p class="success" *ngIf="mensaje">{{ mensaje }}</p>
<p class="error" *ngIf="error">{{ error }}</p>
